<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype ="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file"><br>
        <input type="submit">
    </form>

    {% if img_url %}
    <img src="{{img_url}}" alt="" width="500">
    <a href="{{img_url}}" download>Download</a>

    {% endif %}
    {% if delete %}
    <div>{{delete}}</div>
    {% endif %}
    <script>    // script tag to run java script
        // script to show img url only
        let img = document.querySelector("img").src
        console.log(img)                              
    </script>
</body>
</html>